

#logo { 
    img {
        width: 120px;
        height: 100px;
    }
    align-items: start ;
}

nav {
    background: rgb(80,63,121);
    background: linear-gradient(0deg, rgba(80,63,121,0) 0%, rgba(80,63,121,0.18531162464985995) 12%, rgba(80,50,131,0.4654236694677871) 22%, rgba(80,62,121,1) 100%);
    
    div{
   
      @media (min-width: 720px) {
        display: flex;    
       flex-direction: row;

      }

       .navbar-brand{
        margin-top: 20px;
        color: rgb(255, 255, 255);
       }
        .quiensos{

            input{
            margin: 20px;
            }
        }
    }
}

form{
    ul{
        list-style: none;
    }
}